body {
  min-width: 300px;
  background-color: rgb(238, 238, 238);
}

textarea {
  min-width: 300px;
  min-height: 60px;
}

.dd-tfbtn, .dd-stats, .dd-login-container {
  display: flex;
}

.dd-button {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
  height: 70;
  width: 80px;
}

.dd-login {
  margin: auto;
}
.dd-stats-link {
  margin-top: 15px;
  /*margin-left: 37px;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.unrated-heading {
  margin-top: 20px;
}
