node_modules/
bower_components/
*.log

build/
dist/
.DS_Store
.env
package-lock.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
keys.txt
settings.config
server/db/db-config.js
ec2-user@52.36.33.73
.floo
.flooignore
dump.rdb
