# Miscellaneous Elastic Beanstalk settings
option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    NODE_ENV: production
    NPM_CONFIG_PRODUCTION: true
    RDS_CONNECTION_URL=mysql://TeamSSP:TeamSSP123@bogus-story-meter-dev.c6w6pvtpmovr.us-east-2.rds.amazonaws.com:3306/bogus_story_meter

#   - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
#    option_name: /static/
#    value: /public/