<h1>Welcome to Bogus Story Meter</h1>
<h2>The Website Companion to the B.S.M. Extension</h2>
<p>
Bogus Story Meter is a web application and Chrome extension that allows users to rate webpages on their accuracy, in order to present an aggregate trustoworthiness rating to all users.  The motivation behind our project is to cut down on the proliferation of misinformation, urban legends, and otherwise baseless "facts" on the internet.
</p>
<h3>Meet Our Team</h3>
<ul>
  <li>Ciaran Conners, Product Owner</li>
  <li>Patrick Tang, Scrum Master</li>
  <li>John Roxborough, Software Engineer</li>
  <li>Scott Rudiger, Software Engineer</li>
</ul>

<!-- Hello, we are team SSP, named such because all four of us went through the hack reactor structured study program ahead of enrolling in the remote cohort.

Our team is Ciaran Conners as product owner, Patrick Tang as scrum master, and John Roxborough and Scott Rudiger as development engineers. -->

