<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2>The Website Companion to the B.S.M. Extension</h2>

    <p class="description">
      <i>
      Bogus Story Meter is a web application and Chrome extension that allows users to rate webpages on their accuracy, in order to present an aggregate trustworthiness rating to all users. We hope that we can help others to 'spread the truth' and slow the spread of bogus information on the internet by making people more aware of the quality of what they're reading online.
      </i>
    </p>

    <div>
    <h3>Meet The Team</h3>
    <ul class="meet-the-team">
      <li class="crop">
        <div class="crop-container">
          <img src="./assets/ciaran.jpg" alt="ciaran">
        </div>
        <div class="team-member"><b>Ciar&aacute;n Conners</b></div>
        <div class="role"><b>Product Owner<br>Software Engineer</b></div>
      </li>
      <li class="crop">
        <div class="crop-container">
          <img src="./assets/patrick.png" alt="patrick">
        </div>
        <div class="team-member"><b>Patrick Tang</b></div>
        <div class="role"><b>Scrum Master<br>Software Engineer</b></div>
      </li>
      <li class="crop">
        <div class="crop-container">
          <img src="./assets/scott.jpg" alt="scott">
        </div>
        <div class="team-member"><b>Scott Rudiger</b></div>
        <div class="role"><b>Software Engineer</b></div>
      </li>
      <li class="crop">
        <div class="crop-container">
          <img src="./assets/john.jpg" alt="john">
        </div>
        <div class="team-member"><b>John Roxborough</b></div>
        <div class="role"><b>Software Engineer</b></div>
      </li>
    </ul>
    </div>
    <div>
      <h3>Get the Extension</h3>
      <p class="get-extension">Visit the Chrome Web Store to Download the Bogus Story Meter Extension Today!</p>
      <a class="get-extension" target="_blank" href="https://chrome.google.com/webstore/detail/bogus-story-meter/fkagcgelmhpmmgmoampopoollmkknaie">Get it now!</a>
    </div>
  </div>
</div>

