<div ng-controller="AppCtrl as app" class="container top-offset">
	<div class="row profile-info">
		<div class="col-sm-4">
			<div class="img-parent">
				<!-- <img ng-if="$ctrl.signedIn" class="profile-pic" ng-src={{$ctrl.profileInfo.url}} alt="profile picture">
				<p ng-if="$ctrl.signedIn" class="username">{{$ctrl.profileInfo.name}}</p> -->
				<img  class="profile-pic" ng-src={{app.profileInfo.url}} alt="profile picture">
				<p  class="username">{{app.name}}</p>
			</div>
		</div>
		<div class="col-sm-8">
			<search-form></search-form>
			<h4>Your recent activity:</h4>
			<ul class="profileList" ng-repeat="activity in app.userActivity">
				<li class="profileTime">{{ activity.updatedAt.slice(0,16).split('T').join(' ') }}</li>
			  <li ng-show="activity.type">You rated the page: <i><a href={{activity.url}}>{{activity.url}}</a></i> as <b><a class="{{activity.type}}" href="/stats/redirect/{{activity.id}}">{{activity.type === 'upvote'}}</a></b></li>
			  <li ng-show="activity.text">You commented on the page: <i><a href={{activity.url}}>{{activity.url}}</a></i>
			    <ul class="profileList" ng-show="activity.text">
			      <li><a class="profileComment" href="/stats/redirect/{{activity.id}}">{{activity.text}}</a></li>
			    </ul>
			  </li>
			</ul>

		</div>
	</div>
</div>