<div class="container comment-text">
  <div class="row">
    <div class="col-xs-3">
      {{$ctrl.comment.username}}
    </div>
    <div class="col-xs-6">
      {{$ctrl.comment.text}}
    </div>
    <div class="reply-btn">
      <button
        ng-show="!$ctrl.comment.replying"
        class="reply reply-btn btn btn-default pull-right"
        ng-click="$ctrl.toggleReplying()">
        Reply
      </button>
    </div>
  </div>
  <div
    class="comment reply"
    ng-repeat="reply in $ctrl.comment.replies track by reply.id">
    <reply reply="reply" />
  </div>
  <div class="text-center">
    <textarea
      ng-show="$ctrl.comment.replying"
      class="reply-ta"
      placeholder="Leave a reply"
      ng-model="$ctrl.replyText"
      >
    </textarea>
    <div>
      <button
        ng-show="$ctrl.comment.replying"
        class="reply-submit btn btn-default pull-right"
        ng-click="$ctrl.postComment($ctrl.replyText, $ctrl.comment.id); $ctrl.toggleReplying();">
        Submit
      </button>
    </div>
  </div>
</div>
