<div class="container">
  <div class="row">
    <div class="col-xs-3">
      {{$ctrl.comment.username}}
    </div>
    <div class="col-xs-6">
      {{$ctrl.comment.text}}
    </div>
    <div class="text-center">
      <textarea
        class="reply-ta"
        placeholder="Leave a reply"
        ng-model="$ctrl.replyText"
        id="replyField"
        ng-if="$ctrl.replying"
        hidden>
      </textarea>
    </div>
    <div class="reply-submit">
      <button
        class="dd-submit btn btn-default pull-right"
        ng-click="$ctrl.postComment($ctrl.commentText)"
        ng-if="$ctrl.replying"
        hidden>
        Submit
      </button>
    </div>
    <div class="reply-btn" hidden>
      <button
        class="reply btn btn-default pull-right"
        ng-click="$ctrl.setReplying()"
        ng-if="!$ctrl.replying"
        hidden>
        Reply
      </button>
    </div>
  </div>
  <div
    class="comment reply"
    ng-repeat="reply in $ctrl.comment.replies track by $index"
    hidden>
    <reply reply="reply" />
  </div>
</div>