<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="logo" class="navbar-brand" href="/home">Bogus Story Meter</a>
      </div>

      <div class="collapse navbar-collapse" id="my-navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a id="home-btn" href="/home">Home</a></li>
          <li><a ng-hide="!$ctrl.isLoggedIn" id="profile-btn" href="/profile">Profile</a></li>
          <li ng-hide="$ctrl.isLoggedIn"><a id="login-btn" href="/login">Log In/Sign Up</a></li>
          <li ng-hide="!$ctrl.isLoggedIn" ng-click="$ctrl.logout()"><a id="logout-btn" href="/home">Log Out</a></li>
          <li><a id="about-btn" href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </nav>