<div ng-controller="" class="activity">
	<h4>Your recent activity:</h4>
	<ul class="list-points">
<!-- 		<li>You rated as true: www.cnn.com/2017/07/20/us/oj-simpson-parole-hearing-live/index.html</li>
		<li>You rated as false: www.msn.com/en-us/music/celebrity/linkin-park-frontman-chester</li>
		<li>You commented on: www.cnet.com/news/youtube-tv-comes-to-10-more-cities-today</li> -->
    <li ng-show="activity.type">You rated the page: {{activity.url}} as {{activity.type === 'upvote'}}</li>
    <li ng-show="activity.text">You commented on the page: {{activity.url}}</li>
      <ul ng-show="activity.text">
        <li>{{activity.text}}</li>
  	  </ul>
    </ul>
</div>
