<div class="container top-offset" ng-controller="StatCtrl as stat">
  <header class="text-center stats-text">Statistics for</header>
  <div class="text-center"><a class="stats-text" href={{stat.url}} target="_blank"><i>{{stat.title || stat.url}}</i></a></div>
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <h1 class="text-center stats-rating" ng-if="stat.rated" >{{stat.rating}}%</h1>
    </div>
  </div>

  <div class="dropdown">
    <div ng-if="!stat.rated && !stat.userVote" class="dropdown dd-heading unrated-heading">
      <p class="text-center">The above URL has not yet been rated by our users. Be the first to submit your thoughts!</p>
    </div>

    <div ng-if="stat.rated && !stat.userVote" class="dd-heading rated-heading">
      <p class="text-center">of users believe the information presented on the above URL is accurate. What do you think?</p>
    </div>

    <div ng-if="stat.rated && stat.userVote" class="dd-heading rated-heading">
      <p class="text-center">of users believe the information presented on the above URL is accurate.</p>
    </div>

    <div class="row">
      <div class="col-xs-3"></div>
      <div class="dd-tfbtn text-center col-xs-6">
        <button
          class="dd-truth btn btn-success stats-button"
          ng-click="stat.handleVote('upvote')"
          ng-class="stat.userVote === 'upvote' ? 'pressed' : ''">
          <h3>True</h3>
        </button>
        <button
          class="dd-false btn btn-danger stats-button"
          ng-click="stat.handleVote('downvote')"
          ng-class="stat.userVote === 'downvote' ? 'pressed' : ''">
          <h3>False</h3>
        </button>
      </div>
      <div class="col-xs-3"></div>
    </div>

    <div class="text-center">
      <textarea
        class="comment-ta stats-text"
        placeholder=" Leave a comment"
        ng-model="stat.commentText">
      </textarea>
    </div>
    <div class="container row">
      <div class="col-xs-7"></div>
      <div class="col-xs-3">
        <button
          class="comment-submit btn btn-default pull-right stats-text"
          ng-click="stat.commentText.length ? stat.postComment(stat.commentText) : stat.showAlert('Oops!', 'You have to write a comment to submit.')">
          Submit
        </button>
      </div>
      <div class="col-xs-2"></div>
    </div>
    <div class="container comment no-parent text-center" ng-repeat="comment in stat.comments track by comment.id">
      <comment
      showAlert="stat.showAlert"
      comment="comment"
      comments="stat.comments"
      post-comment="stat.postComment"
      reply-text="stat.replyText"
      check-auth="stat.checkAuth"
      authenticated="stat.authenticated"/>
    </div>

  </div>
</div>
