<div class="container" ng-controller="StatCtrl as stat">
  <header class="text-center">Statistics for</header>
  <div class="text-center"><a href={{stat.url}} target="_blank">{{stat.url}}</a></div>
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <h1 class="text-center" ng-if="stat.rated" >{{stat.rating}}%</h1>
    </div>
    <div class="col-xs-2 profilebutton">
      <button class="btn btn-default" ng-click="stat.handleProfile()"><span class="glyphicon glyphicon-user"></span></button>
    </div>
  </div>

  <div class="dropdown">
    <div ng-if="!stat.rated && !stat.uservote" class="dropdown dd-heading unrated-heading">
      <p class="text-center">This page has not yet been rated by our users. Be the first to submit your thoughts!</p>
    </div>

    <div ng-if="stat.rated && !stat.uservote" class="dd-heading rated-heading">
      <p class="text-center">of users believe the information presented on this page is accurate. What do you think?</p>
    </div>

    <div ng-if="stat.rated && stat.uservote === 'upvote'" class="dd-heading rated-heading">
      <p class="text-center">of users believe the information presented on this page is accurate, as well as agree with your previous 'true' rating.</p>
    </div>

    <div ng-if="stat.rated && stat.uservote === 'downvote'" class="dd-heading rated-heading">
      <p class="text-center">of users believe the information presented on this page is accurate, as well as disagree with your previous 'false' rating.</p>
    </div>

    <div class="dd-tfbtn text-center">
      <button class="dd-truth btn btn-success dd-button" ng-click="stat.handleVote('upvote')" ng-disabled="stat.uservote === 'upvote'"><h4>True</h4></button>
      <button class="dd-false btn btn-danger dd-button" ng-click="stat.handleVote('downvote')" ng-disabled="stat.uservote === 'downvote'"><h4>False</h4></button>
    </div>

    <div class="text-center">
      <textarea class="dd-comment" placeholder="Leave a comment" ng-model="stat.comment" id="commentField"></textarea>
    </div>

    <div class="row">
      <div class="col-xs-8"></div>
      <div class="col-xs-4">
        <button class="dd-submit btn btn-default pull-right" ng-click="stat.handleSubmitComment(stat.comment)">Submit</button>
      </div>
    </div>

    <div class="comment no-parent" ng-repeat="comment in stat.comments track by $index">
      <comment comment="comment" />
    </div>

  </div>
</div>
