body {
  margin-top: 80px;
}

li {
  font-size: 14pt;
}

.navbar-brand {
  font-size: 18pt;
}

p, .stats-text, .comment-text {
  font-size: 14pt;
}

.stats-rating {
  margin: 5px 0 5px 0;
  font-size: 40pt;
}

.stats-button > h3 {
  margin: auto;
}

.top-offset {
	margin-top: 30px;
}

.sign-in {
  float: right;
}

.img-parent {
	text-align: center;
}

.profile-info {
  margin-top: 20px;
}

.profile-pic {
  /*position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;*/

  width: 180px;
	height: 180px;
	object-fit: cover;
	margin: auto;
}

.username {
  padding-top: 15px;
  position: relative;
}

.activity {
  margin-top: 30px;
}

.list-points {
  list-style: none
}

.comment-ta {
  min-width: 700px;
  min-height: 100px;
}

.dd-tfbtn, .dd-stats, .dd-login-container {
  display: flex;
}

.btn h3 {
  padding-top: 0;
}

.stats-button {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
  height: 100px;
  width: 130px;
}

.dd-login {
  margin: auto;
}
.dd-stats-link {
  margin-top: 15px;
  /*margin-left: 37px;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.unrated-heading {
  margin-top: 10px;
}

.profilebutton {
  padding-left: 0;
  margin-left: 0;
  margin-top: 10px;
}

.upvote {
  color: green;
}

.downvote {
  color: red;
}

.profileComment {
  color: grey;
}

.profileList {
  margin-top: 4px;
  padding-left: 20px;
  list-style-type: none;
}

.profileTime {
  color: darkgrey;
}

.comment {
  padding-bottom: 18px;
}

.form-control {
  font-size: 16pt;
}
