.top-offset {
	margin-top: 30px;
}

.sign-in {
  float: right;
}

.img-parent {
	text-align: center;
}

.profile-info {
  margin-top: 80px;
}

.profile-pic {
  /*position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;*/

  width: 180px;
	height: 180px;
	object-fit: cover;
	margin: auto;
}

.username {
  padding-top: 15px;
}

.username {
	position: relative;
}

.activity {
  margin-top: 30px;
}

.list-points {
  list-style: none
}

textarea {
  min-width: 700px;
  min-height: 60px;
}

.dd-tfbtn, .dd-stats, .dd-login-container {
  display: flex;
}

.dd-button {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
  height: 70;
  width: 80px;
}

.dd-login {
  margin: auto;
}
.dd-stats-link {
  margin-top: 15px;
  /*margin-left: 37px;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.unrated-heading {
  margin-top: 10px;
}

.profilebutton {
  padding-left: 0;
  margin-left: 0;
  margin-top: 10px;
}

.upvote {
  color: green;
}

.downvote {
  color: red;
}

.profileComment {
  color: purple;
}

.profileList {
  margin-top: 4px;
  padding-left: 20px;
  list-style-type: none;
}

.profileTime {
  color: grey;
}
