body {
  margin-top: 80px;
}

li, .table{
  font-size: 14pt;
  /*font-size: 1em;*/
}

.navbar-brand {
  font-size: 18pt;
}

p, .stats-text, .comment-text {
  font-size: 14pt;
}

.stats-rating {
  margin: 5px 0 5px 0;
  font-size: 40pt;
}

.stats-button > h3 {
  margin: auto;
}

.top-offset {
	margin-top: 30px;
}

.sign-in {
  float: right;
}

.img-parent {
	text-align: center;
}

.profile-info {
  margin-top: 20px;
}

.profile-pic {
  /*position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;*/

  width: 180px;
	height: 180px;
	object-fit: cover;
	margin: auto;
  border-radius: 7%;
}

.username {
  padding-top: 15px;
  position: relative;
}

.activity {
  margin-top: 30px;
}

.list-points {
  list-style: none
}

.comment-ta {
  min-width: 700px;
  min-height: 60px;
  padding-bottom: 50px;
  margin-bottom: 60px;
}

.reply-ta {
  min-width: 700px;
  min-height: 15px;
}

.dd-tfbtn, .dd-stats, .dd-login-container {
  display: flex;
}

.btn h3 {
  padding-top: 0;
}

.reply-btn {
  margin-top: 0;
}

.comment-submit {
  display: inline;
  margin-top: 64px;
}

.reply-submit {
  display: inline;
  margin-top: 24px;
}

.stats-button {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: center;
  height: 100px;
  width: 130px;
}

.dd-login {
  margin: auto;
}
.dd-stats-link {
  margin-top: 15px;
  /*margin-left: 37px;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.unrated-heading {
  margin-top: 10px;
}

.profilebutton {
  padding-left: 0;
  margin-left: 0;
  margin-top: 10px;
}

.upvote, .truthy, .true {
  color: green;
}

.downvote, .falsy, .false {
  color: red;
}

.profileComment {
  color: grey;
}

.profileList, .home-activity {
  margin-top: 4px;
  padding-left: 20px;
  list-style-type: none;
}

.profileTime {
  color: darkgrey;
}

.comment {
  padding-bottom: 18px;
}

.form-control {
  font-size: 16pt;
}

.nr {
  color: grey;
}

table{
    table-layout: fixed;
}

.table>tbody>tr>td {
  border-top: 0px;
  word-wrap:break-word;
  vertical-align: middle;
}

.datepicker-container {
  display: table;
}

.date-input {
  display: table-cell;
  margin: 100px;
}